<div id="carousel" class="carousel slide">

    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">

        <div class="item active">
            <img src="img/sample/farm.jpg" alt="">
            <div class="carousel-caption">
                <h4>ここに、簡単な表題を表示できます。</h4>
                <p>ここには、短文を表示することができます。なお、画像はサンプルです。また、枚数に上限はありません。</p>
            </div><!-- carousel-caption -->
        </div><!-- item -->

        <div class="item">
            <img src="img/sample/ice.jpg" alt="">
            <div class="carousel-caption">
                <h4>ここに、簡単な表題を表示できます。</h4>
                <p>ここには、短文を表示することができます。なお、画像はサンプルです。また、枚数に上限はありません。</p>
            </div><!-- carousel-caption -->
        </div><!-- item -->

        <div class="item">
            <img src="img/sample/kama.jpg" alt="">
            <div class="carousel-caption">
                <h4>ここに、簡単な表題を表示できます。</h4>
                <p>ここには、短文を表示することができます。なお、画像はサンプルです。また、枚数に上限はありません。</p>
            </div><!-- carousel-caption -->
        </div><!-- item -->

        <div class="item">
            <img src="img/sample/natto.jpg" alt="">
            <div class="carousel-caption">
                <h4>ここに、簡単な表題を表示できます。</h4>
                <p>ここには、短文を表示することができます。なお、画像はサンプルです。また、枚数に上限はありません。</p>
            </div><!-- carousel-caption -->
        </div><!-- item -->

    </div><!-- carousel-inner -->

    <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>

</div><!-- carousel -->