---
title: Welcome to Middleman
---

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">

                <p>Hello world! This is HTML5 Boilerplate.</p>

                <div class="welcome">
                  <h1>Middleman is Watching</h1>
                  <p class="doc">
                    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
                </p><!-- .doc -->
            </div><!-- .welcome -->

        </div><!-- row -->
    </div><!-- span12 -->
</div><!-- row -->
</div><!-- container -->

